@model IEnumerable<Projekt.Models.Gra>

@{
    ViewData["Title"] = "Privacy Policy";
}
<table>
    <thead>
        <tr></tr>
    </thead>
    <tbody>
        @foreach (var gra in Model)
        {
            <tr>
                <td>
                    <img class="rounded border border-dark border-3" src="~/images/@gra.Zdjęcie" style="height: 5rem; width: 5rem"/>
                </td>
            </tr>
        }
    </tbody>
</table>